// Poster //

.movieCover {
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }
    
    &:hover .textOverlay {
        bottom: 0;
    }
}

.textOverlay {
    position: absolute;
    text-align: center;
    bottom: -80px;
    width: 100%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.6);
    transition: bottom 0.2s ease-out;
    padding: 25px 0;
    font-size: 25px;
    color: white;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    
    .movieCover {
        text-align: center;
        margin-bottom: 25px;

        & img {
            width: 75%;
            margin: 0 auto;
        }
    }

    .textOverlay {
        display: none;
    }

}