.App {
  min-height: 100vh;
  text-align: center;
  /* background-color: black; */
}

.logo {
    margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.movieCover {
  width: 25%;
}
