.App {

  background-color: black;
  min-height: 100vh;
  text-align: center;
}

.logo {
  margin-bottom: 50px;
}

.container {
  display: flex;
}

@media only screen and (max-width: 600px) {

  .container {
    display: block;
  }

}
