.App {
  min-height: 100vh;
  text-align: center;
}

.logo {
    margin-bottom: 50px;
}

.container {
  display: flex;
}

.movieCover {
  position: relative;
  flex: 1;
}

.movieCover img {
  width: 100%;
}

.textOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  height: 10%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.textOverlay span {
  margin: 0 auto;
  font-size: 25px;
  color: white;
}



@media only screen and (max-width: 600px) { 

  .container {
    display: block;
  }

}