.App {
  min-height: 100vh;
  text-align: center;
}

.logo {
    margin-bottom: 50px;
}

.container {
  display: flex;
}

.movieCover {
  position: relative;
  flex: 1;
}

.movieCover img {
  width: 100%;
}

.textOverlay {
  position: absolute;
  opacity: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.6);
  transition-property: opacity;
  transition-duration: 0.2s;
  padding:20px 0;
}

.textOverlay span {
  font-size: 25px;
  color: white;
}

.movieCover:hover .textOverlay {
  opacity: 1;
}



@media only screen and (max-width: 600px) { 

  .container {
    display: block;
  }

}