.App {
  background-color: black;
  min-height: 100vh;
  text-align: center;
}

.logo {
  margin-bottom: 50px;
  width: 50%;
}

.container {
  display: flex;
}

@media only screen and (max-width: 600px) {

  .logo {
    margin-bottom: 50px;
    width: 90%;
  }

  .container {
    display: block;
  }

}
